
run = "npm run dev"
modules = ["nodejs-20", "web"]

[deployment]
build = "npm run build"
run = "npm run preview"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 15173664
mode = "sequential"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run"

[[ports]]
localPort = 5173
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 5174
externalPort = 3001
exposeLocalhost = true

[nix]
channel = "stable-24_05"
